<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/defaultLayout">
<head>
    <title>Thymeleaf 예제</title>
</head>
<body>
<th:block layout:fragment="content" th:with="cp=${#request.getContextPath()},prefix='cp= '">
    <h1>Page Content</h1>
    <p th:text="${'[' + prefix + cp + ']'}"></p>
</th:block>

<th:block layout:fragment="~{pageCustomScript}">
    <script></script>
</th:block>
<th:block layout:fragment="~{pageCustomCss}">
</th:block>
</body>
</html>